/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 40%;
    padding: 20px;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* ==========================================================================
   CUSTOM CSS
   ========================================================================== */
.aclogo { display: block; margin: 0 auto 20px auto; width: 70%; height: auto; }
.discord { display: block; width: 28%; height: auto; margin: 0 auto; }

.brightness {
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}

.blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
